.root {
  color: #fff;
  margin: 0 10px;
}

.btn {
  padding: 3px 10px;
  border-radius: 20px;
  border: solid 2px #eee;
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
  box-sizing: border-box;
  font-weight: 700;
}

.account {
  padding: 3px 10px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 700;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
