.root {
  background: linear-gradient(90deg, #15204b 45%, #00ffd2 140%);
  padding: 40px 0;
  color: #fff;
}

.join {
  padding-bottom: 30px;
  .title {
    margin-bottom: 10px;
    .sub {
      font-weight: 300;
      margin-left: 20px;
      padding-left: 20px;
      border-left: 1px solid #777;
    }
  }
  .input {
    flex: 1;
    border: solid 1px #ececec;
    background-color: transparent;
    opacity: 0.4;
    padding: 2px 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    font-size: 12px;
    width: 100%;
    &::placeholder {
      color: #777;
    }
    &:focus {
      opacity: 1;
    }
    color: #fff;
    margin-bottom: 10px;
  }
  .btn {
    height: 30px;
    line-height: 30px;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
  }
}
@media screen and (max-width: 968px) {
  .join {
    border-right: none;
  }
}
.connect {
  text-align: center;
  .ct {
    margin-bottom: 20px;
  }
  a {
    width: 20px;
  }
  .icons {
    display: flex;
    justify-content: space-around;
  }
}
