.root {
  background-color: #fff;
  padding: 20px;
}
.words {
  margin-right: 20px;
  font-size: 24px;
  text-align: center;
}
.btn {
  padding: 3px 0;
  width: 200px;
  text-align: center;
  margin: 5px auto;
  border: solid 1px #000;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  &.main {
    color: #fff;
    background-color: #000;
  }
}
