.section {
  margin-bottom: 20px;
  padding: 20px 0;
  &:nth-child(odd) {
    background-color: #0a1019;
  }
  &:last-child {
    margin-bottom: 0;
  }
  .mainImg {
    width: 50%;
    margin: 0 auto;
    display: block;
  }
  .description {
    h3 {
      font-size: 22px;
      margin-bottom: 20px;
    }
    margin-top: 40px;
    font-size: 12px;
    line-height: 20px;
  }
  .attr {
    font-size: 14px;
    .value {
      font-size: 20px;
      font-weight: 700;
      margin-left: 10px;
      margin-right: 20px;
    }
  }
}

.c1 {
  color: #fff;
}
.c2 {
  color: #007acc;
}

.c3 {
  color: #f318f5;
}
